.tabs_wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 0px;

    .pane{

        & + .pane{
            margin-left: 5px;
        }

        .btn{
            border-bottom: 0px;
            border-radius: 5px 5px 0px 0px;
        }
    }
}

.panel_content{
    width: 100%;
    padding: 20px;
    border:1px solid;
    border-color: #ccc;
    border-radius: 5px;
}