<!DOCTYPE html>
<html ng-app="training">
<head>
	<title>SplitUp4</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- bower:css -->
	<!-- bower installed css files will go here... -->
	<!-- endinject -->
	<!-- inject:css -->
	<!-- built css files will go here... -->
	<!-- endinject -->
</head>
<body>

	<div ng-controller="userCtrl as tabs">

		<div ng-app="panel">
			<div tab-control current-id="1">
				<div pane
					 class="pane"
					 ng-repeat="pane in tabs.panelsList track by pane.title"
					 pane-obj="pane"></div>
			</div>
		</div>

	</div>

	<!-- bower:js -->
	<!-- bower installed scripts will go here... -->
	<!-- endinject -->
	<!-- inject:js -->
	<!-- app scripts will go here... -->
	<!-- endinject -->
</body>
</html>