<div class="panel-wrap">
    <div class="btn btn-default"
         ng-click="loadContentHandler(paneObj.id)"
         ng-class="{'btn-success':paneObj.id == currentId, 'btn-default':paneObj.id != currentId}">{{paneObj.title}}</div>
</div>